tr,
.table th,
.table thead th,
.table td {
  border: none;
}

.thead-style {
  background-color: #9FDCFF;
  color: #212529;
  text-align: center;
}

.tbody-style {
  color: #212529;
}

.tbody-style td {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.tbody-style td:first-child {
  border-left: none;
}

.tbody-style td:last-child {
  border-right: none;
}

.tbody-style tr:nth-child(odd) {
  background-color: #CDEDFF;
}

.tbody-style tr:nth-child(even) {
  background-color: #9FDCFF;

}

.form-control:focus,
.page-link:focus {
  box-shadow: none !important;
}

.page-link,
.page-link:hover {
  color: #fff;
}

.page-item.active .page-link {
  transform: scale(1.05);
}

.react-bootstrap-table-pagination-list {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.react-bootstrap-table-page-btns-ul {
  float: right;
  margin-top: 0px !important;
}

@media only screen and (max-width: 768px) {
  .react-bootstrap-table-page-btns-ul {
    float: none;
  }

  .react-bootstrap-table-pagination-list {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.react-bootstrap-table-page-btns-ul .page-link {
  background-color: #462a50 !important;
  padding: 0.5rem 1rem !important;
}

.react-bootstrap-table-pagination {
  margin: 0;
}

.react-bootstrap-table-pagination-list-hidden {
  display: none;
}

.react-bootstrap-table th.sortable {
  cursor: pointer;
  user-select: none;
}

.react-bootstrap-table th.sortable:focus {
  outline: none;
}

.react-bootstrap-table th>.react-bootstrap-table-sort-order>.caret {
  margin: 10px 6.5px;
}

.react-bootstrap-table th .order-4:before {
  margin-left: 3.5px;
  content: "\2191";
  opacity: 0.4;
}

.react-bootstrap-table th .order-4:after {
  content: "\2193";
  opacity: 0.4;
}

.react-bootstrap-table th .caret-4-asc:before {
  margin-left: 3.5px;
  content: "\2191";
}

.react-bootstrap-table th .caret-4-asc:after {
  content: "\2193";
  opacity: 0.4;
}

.react-bootstrap-table th .caret-4-desc:before {
  margin-left: 3.5px;
  content: "\2191";
  opacity: 0.4;
}

.react-bootstrap-table th .caret-4-desc:after {
  content: "\2193";
}